.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/images/Chasing-arrows.gif') 50% 50% no-repeat rgb(249, 249, 249);
  opacity: .8;
}
.clockdate-wrapper {
  background-color: #333;
  padding: 12px;
  max-width: 350px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;

}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.25rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}


#clock {
  background-color: #333;
  font-family: sans-serif;
  font-size: 18px;
  text-shadow: 0px 0px 1px #fff;
  color: #fff;
}

#clock span {
  color: #888;
  text-shadow: 0px 0px 1px #333;
  font-size: 7px;
  position: relative;
  top: -20px;
  left: -10px;
}

#date {
  letter-spacing: 1px;
  font-size: 10px;
  font-family: arial, sans-serif;
  color: #fff;
}

#topbar {
  
  font-size: 15px;
  color: white;
  padding: 2px;
}



#searchbox {
  padding: 10px;
  background-color: #373737;
  display: none;
}


#searchbox input {
  height: 25px;
  color: #373737;
  width: 200px;
  padding-left: 5px;
  font-size: small;
}

#searchbox button {
  height: 28px;
  background-color: rgb(255, 255, 255);
  border: 3px solid #d17171;
  width: 70px;
  font-size: small;
}

#topbar #searchicon {
  float: right;
}

#city {
  font-size: 18px;
  text-align: left;
  padding-left: 30px;
  padding-left: 15px;
  padding-top: 20px;
}

#mainbody img {
  float: right;
  padding-right: 20px;
  font-size: 18px;
}

#mainbody {
  color: white;
  background-color: rgb(120, 127, 156);
  margin-top: 10px;
  height: 100%;
  width: 100%;
  text-align: center;
  animation: appear 1s 1;
}

#temp {
  float: right;
  font-size: 15px;
  padding-right: 15px;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 20px;
}

#cond {
  float: left;
  font-size: 15px;
  padding-left: 15px;
  padding-top: 20px;
}

#wind {
  text-align: right;
}

#label {
  font-size: 15px;
  font-weight: 200;
  padding: 2px;
  text-align: center;
  padding-top: 20px;
}

@keyframes appear {
  from {
    width: 0px;
  }

  to {

    width: 300px;
  }
}

@keyframes forecast {
  from {
    height: 0px;
    width: 0px;
  }

  to {
    height: 420px;
    width: 300px;
  }
}

#column {
  display: flex;  
}
#article
{
  flex: 1;
  flex: 200px;
}

.scale-in-tr {
	-webkit-animation: scale-in-tr 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: scale-in-tr 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}
.focus-in-expand{animation:focus-in-expand 2s cubic-bezier(.25,.46,.45,.94) 1s both}
.vibrate-1{animation:vibrate-1 .3s linear infinite both}
/* ----------------------------------------------
 * Generated by Animista on 2021-5-23 0:56:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @keyframes focus-in-expand{0%{letter-spacing:-.5em;filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

 @keyframes vibrate-1{0%{transform:translate(0)}20%{transform:translate(-2px,2px)}40%{transform:translate(-2px,-2px)}60%{transform:translate(2px,2px)}80%{transform:translate(2px,-2px)}100%{transform:translate(0)}}

 /* ----------------------------------------------
 * Generated by Animista on 2021-5-26 10:53:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-tr
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
